.page-cover {
	display: none;
}

.post-navigation,
.post-cover-inside .entry-footer {
    display: none;
}

.hash2 {
	font-family: Arial, sans-serif !important;
	font-size: 26px !important;
	border-bottom: 1px solid #ccc;
}
.hash2:hover {
    cursor: pointer;
}
h3 {
	font-family: 22px;
}
.hash2 .expand-collapse-icon.expand {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.api-content {
    height: 0;
    display: none;
    overflow: hidden;
    transition: all 1.0s ease;
}
.api-content.expand {
    display: block;
    height: auto;
    overflow: auto;
    transition: all 1.0s ease;
}

.api-example {
    background-color: #eee;
    padding-bottom: 20px;
}

.tab-content {
    background-color: #222222;
    border-radius: 3px;
    padding: 10px;
    clear: both;
}

.tab-content .tab-pane {
    display: none;
}

.tab-content .tab-pane.active {
    display: block;
}

.tab-content pre {
    background: transparent;
    font-family: Consolas, monospace;
    font-size: 12px;
    color: white;
    padding: 0;
    margin: 0;
    overflow: auto !important;
}

.nav {
    margin: 0 !important;
    padding: 0 !important;
}

.nav li {
    list-style: none;
    float: left;
    text-align: center;
    padding: 0 20px;
    opacity: .5;
    border-bottom: 2px solid #aaa;
    margin-right: 5px;
}

.nav li.active, .nav li:hover {
    opacity: 1;
}

.nav li .lang-logo {
    width: 45px;
}

.nav div {
    font-size: 12px;
    margin: -5px 0 2px 0;
}

.nav a {
    outline: 0;
}

.lang-samples {}

.lang-samples p,
.lang-samples br {
    display: none;
}

.api-documentation table {
	margin: 0;
}
.api-documentation th, .api-documentation td {
	border-top: 1px solid #EEEEEE;
	border-bottom: 0;
}
.api-documentation td {
	border-left: 1px solid #EEEEEE;
	padding: 10px;
	font-size: 13px;
}
.api-documentation tr td:first-child {
	border-left: none;
}
.api-documentation th {
	font-weight: bold;
}

.expand-collapse-icon {
    float: right;
    margin-top: 10px;
    background-image: url("http://i.imgur.com/kNq8Vkf.png");
    background-position: center center;
    width: 25px;
    height: 25px;
}

button a {
    color: black;
}
button:hover a {
    color: white;
}
.align-right {
    text-align: right;
}

